/* Move down content because we have a fixed navbar that is 50px tall */
body {
  background-color:#dddddd !important;
}

#kontaktinfo ul li{
	list-style-type:none;
}

#albert {
  visibility: hidden;
}
.container .hero-unit,
.container-fluid .hero-unit {
  padding: 48px;
  margin-bottom:30px;
  background-color: #FFF !important;
  border-radius: 6px;
}
.hero-unit .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .hero-unit {
    padding: 48px 0;
  }
  .container .hero-unit,
  .container-fluid .hero-unit {
    background-color:#FFF !important;
    padding-right: 48px;
    padding-left: 48px;
  }
  .hero-unit h1,
  .hero-unit .h1 {
    font-size: 63px;
  }
}

.navbar-custom {
  background-color: #7e2e34;
  border-color: #66252a;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#a33c43), to(#7e2e34));
  background-image: -webkit-linear-gradient(top, #a33c43, 0%, #7e2e34, 100%);
  background-image: -moz-linear-gradient(top, #a33c43 0%, #7e2e34 100%);
  background-image: linear-gradient(to bottom, #a33c43 0%, #7e2e34 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa33c43', endColorstr='#ff7e2e34', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #66252a;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  border-left: 1px solid #66252a;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #c0c0c0;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #66252a;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#66252a), to(#8b3339));
  background-image: -webkit-linear-gradient(top, #66252a, 0%, #8b3339, 100%);
  background-image: -moz-linear-gradient(top, #66252a 0%, #8b3339 100%);
  background-image: linear-gradient(to bottom, #66252a 0%, #8b3339 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff66252a', endColorstr='#ff8b3339', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #642429;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #66252a;
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #66252a;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #c0c0c0;
}